.search-option .search .search-item {
    display: none;
  }
  .search-option .search .search-item.active {
    display: block;
  }
  
  .search-option .option-item.active {
  background-color: #5fcf86;
  border-bottom: 1px solid #5fcf86;
  } 
  .search-option {
    position: relative;
    bottom: 60px;
    z-index: 3;
  }
  .search-option-index .search-option {
    /* bottom: 0; */
  }
  /* +option */
  .search-option .option {
      display: flex;
      justify-content: center;
  }
  .search-option .option-item {
      position: relative;
  }
  .search-option .option-item.active {
      background-color: #3498db;;
      border-bottom: 1px solid #3498db;
  }
  .search-option .option-item:first-child {
      border-radius: 16px 0 0 0;
  }
  .search-option .option-item:last-child {
      border-radius: 0 16px 0 0;
      border-right: none;
  }
  .search-option .option-item {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 16px 8px;
      grid-gap: 8px;
      gap: 8px;
      width: 180px;
      background-color: #fff;
      cursor: pointer;
      -webkit-user-select: none;
      user-select: none;
  }
  .search-option .option-item.active p {
      color: #fff;
  }
  .search-option .option-item p {
      color: #000000;
      font-size: 1rem;
      font-weight: 700;
      text-align: center;
      margin: 0;
  }
  .search-option .option-item.active svg path,
  .search-option .option-item.active svg circle {
      stroke: var(--white);
  }
  /* +search */
  .search-option .search {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 150px;
    /* padding: 16px; */
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 0 -3px 12px rgba(0, 0, 0, .1), 0 9px 12px rgba(75, 75, 75, .1);
  }
  .search-option .search .search-item {display: none;}
  .search-option .search .search-item.active {display: block;}
  .search-option .search-form:last-child {
    padding-bottom: 16px;
  }
  .search-option .search-form:first-child {
    padding-top: 16px;
  }
  .search-option .search-form {
    position: relative;
    display: flex;
    padding: 8px 16px;
    width: 100%;
    justify-content: space-between;
    /* align-items: center; */
  }
  .search-option .search-form__item.address {
    max-width: 340px;
  }
  .search-option .search-form__item {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .search-option .search-form .line {
    border-right: 1px solid #c6c6c6;
    margin: 4px 12px;
  }
  .search-option .search-form a.btn, .search-option .search-form button.btn {
    display: flex;
    align-items: center;
    height: 62px;
    margin: auto 0 auto 16px;
  }
  .search-option .btn.btn-primary {
    background-color: #3498db;
    /* border-bottom: 1px solid#3498db; */
  }
  .search-option .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    grid-gap: 8px;
    gap: 8px;
    background-color: initial;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
    color: #000;
    font-weight: 700;
    padding: 8px 16px;
    border-radius: 8px;
    /* border: 1px solid #3498db; */
  }
  
  .search-option .search-form__item .title {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  .search-option .search-form__item .title .wrap-svg {
    margin-right: 16px;
  }
  .search-option .wrap-svg {
    line-height: 0;
    -webkit-user-select: none;
    user-select: none;
  }
  .search-option .search-form__item .title p {
    color: #767676;
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
  }
  .search-option .search-form__item .choose {
    display: flex;
    margin-left: 40px;
    grid-gap: 16px;
    gap: 16px;
    width: calc(100% - 40px);
  }
  .search-option .search-form__item .choose-item {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;
  }
  .search-option .search-form__item .choose-item.has-arrow {
    position: relative;
  }
  
  .search-option .search-form__item .choose-item .here-autocomplete {
    width: 100%;
  }
  .here-autocomplete {
    position: relative;
    width: 100%;
  }
  .search-option .search-form__item .choose-item p.address,
  .search-option .search-form__item .choose-item p.type-car {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 30px;
    margin: 0;
  }
  .search-option .search-form__item .choose-item span.value {
    color: #000;
    font-size: 1.25rem;
    font-weight: 600;
    white-space: nowrap;
    line-height: 30px;
    /* padding-bottom: 24px; */
  }
  .search-option .search-form__item .choose-item input, .search-option .search-form__item .choose-item p.address {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: #000;
      font-size: 1.25rem;
      font-weight: 600;
      line-height: 30px;
  }
  .search-option .search-form__item.address-search-option, 
  .search-option .search-form__item.type-search-option {
    max-width: 300px;
  }
  .search-option .search-form__item>.type-car-container {
    flex-flow: column;
    gap: 5px;
  }
  
  .type-car-container .show {
    display: block;
  }
  
  .drop-choose-type-car {
    list-style: none;
    /* width: 90%; */
    padding: 5px 15px;
    margin: 0;
    min-width: 200px;
    background-color: #ffffff;
    box-shadow: 0 3px 11px 0 rgb(0 0 0 / 10%);
    display: none;
    position: absolute;
    top: 80px;
    max-width: 90%;
    width: 300px;
  }
  .drop-item-type-car {
    font-size: 1rem;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    color: #000;
    text-transform: capitalize;
    font-weight: 500;
  }
  .drop-item-type-car:hover {
    background-color: aliceblue;
  }
  /* ++search xe-co-tai-xe */
  .search-option .search .title-wd:first-child {
      margin-top: 8px;
  }
  .search-option .search .title-wd {
      font-weight: 800;
      padding-left: 20px;
  }
  .search-option .search .wd-option-form {
      display: flex;
      padding: 12px 20px;
      grid-gap: 40px;
      gap: 40px;
  }
  .search-option .search .wd-option-form .custom-radio label {
      font-size: .875rem;
      margin: 0;
  }
  .search-option .search .note {
      display: flex;
      align-items: center;
      grid-gap: 2px;
      gap: 2px;
      margin: 0 0 4px 20px;
      font-size: .875rem;
      font-weight: 500;
      color: #767676;
  }
  .search-option .search .custom-radio {
      position: relative;
      display: flex;
      gap: 10px;
      align-items: center;
      width: max-content;
  }
  .search-option .search .custom-radio input {
      width: max-content;
  }
  .text-disabled {color: #dadada !important;}
  .fontWeight-4 {font-weight: 400 !important;}
  /* //Search-option */
  
  /* modal choose address + time */
  .modal.in {
    visibility: visible;
  }
  .modal {
    min-height: 100dvh;
    /* display: none;
    overflow: auto; */
    overflow-y: scroll;
    /* position: fixed;
    top: 0; */
    right: 0;
    bottom: 0;
    /* left: 0; */
    z-index: 1200;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    transition: .25s ease-in-out;
    padding-left: 6px;
  
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  .modal.fade.in .modal-dialog {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  
  .modal.fade .modal-dialog {
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out, -webkit-transform .3s ease-out;
  }
  .modal.fade .modal-dialog {
    opacity: 0;
    -webkit-transform: scale(.5);
    transform: scale(.5);
  }
  .modal-dialog.modal-fix {
    padding: 0 !important;
  }
  .modal-dialog.modal-m {
    max-width: 667px;
  }
  .modal-dialog {
    position: relative;
    width: auto;
    margin: 40px auto;
  }
  .modal-dialog.modal-fix .modal-content {
    max-height: calc(100dvh - 80px);
    padding: 24px 0 0;
  }
  
  .modal-dialog.modal-l .modal-content, .modal-dialog.modal-m .modal-content, .modal-dialog.modal-s .modal-content {
    box-shadow: 0 16px 16px 0 rgba(15, 15, 15, .2);
    padding: 16px 0 0;
  }
  .modal-content {
    position: relative;
    background-color: #fff;
    margin: 0 auto;
    width: 100%;
    border-radius: 8px;
    padding: 24px 36px;
  }
  .modal-dialog.modal-fix .modal-content .modal-header {
    padding-bottom: 40px;
    padding-top: 0;
    margin-bottom: 0;
    border-bottom: 1px solid #e0e0e0;
    position: relative;
  }
  .modal-dialog.modal-fix .modal-content .modal-body {
    max-height: calc(100dvh - 145px);
    overflow-x: hidden;
    overflow-y: auto;
    padding: 24px;
  }
  
  .modal-search .modal-body {
    display: flex;
    flex-direction: column;
    grid-gap: 16px;
    gap: 16px;
  }
  .modal-dialog.modal-fix .modal-content .modal-header .close {
    right: 24px;
    top: 10px;
  }
  
  .modal-content .modal-header .close {
    border-radius: 100%;
    border: 1px solid #e0e0e0;
    position: absolute;
    font-size: 1.25rem;
    font-weight: 800;
    line-height: .5;
    color: #000;
    top: 0;
    right: 0;
    padding: 10px;
    z-index: 1;
  }
  .modal.in .close {
    opacity: 1;
  }
  .modal-content .modal-header .close:hover {
      color: var(--danger-color);
      border: 1px solid var(--danger-color);
  }
  .modal-dialog.modal-fix .modal-content .modal-header h5 {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    /* width: 100%; */
    font-weight: 600;
  }
  .search-input {
    padding: 12px;
    border-radius: 8px;
    border: 2px solid #e0e0e0;
    display: flex;
    align-items: center;
    grid-gap: 8px;
    gap: 8px;
  }
  .search-input input {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .pointer {
    cursor: pointer !important;
  }
  input {
    display: inline-block;
    background-color: initial;
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    color: #242420;
    font-family: "Manrope", "Encode Sans Expanded", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    border: none;
    box-shadow: none;
  }
  #search_ajax {
    display: none;
  }
  #search_ajax .location-item {
    display: flex;
    align-items: center;
    grid-gap: 8px;
    gap: 8px;
    padding: 8px 16px;
    cursor: pointer;
  }
  #search_ajax .location-item:hover {
    background: #f6f6f6;
    color: #0075bd;
  }
  .search-suggest .box-container {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #e0e0e0;
    padding: 8px 0;
  }
  .search-suggest .box-container .wrap-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .search-suggest .box-container .wrap-box .box-item {
    display: flex;
    align-items: center;
    grid-gap: 8px;
    gap: 8px;
    padding: 8px 16px;
    cursor: pointer;
  }
  .search-suggest .box-container .wrap-box .box-item .wrap-svg {
    margin-left: 0 !important;
  }
  .search-suggest .box-container .wrap-box .box-item__text {
    display: flex;
    flex-direction: column;
  }
  .search-suggest .box-container .wrap-box .box-item__text p.main {
    font-size: 1rem;
    color: #000;
    font-weight: 600;
    margin: 0;
  }
  .search-suggest .box-container .title-box {
    font-size: .875rem;
    color: #767676;
    font-weight: 500;
    padding-left: 16px;
    margin-bottom: 8px;
  }
  .search-suggest .box-container .wrap-box.airport {
    flex-direction: row;
    grid-gap: 8px;
    gap: 8px;
    padding: 8px 16px;
  }
  .search-suggest .box-container .wrap-box.airport .box-item {
    border: 1px solid #e0e0e0;
    padding: 6px 12px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 30px;
  }
  input:focus-visible, input:focus {
    outline: none;
  }
  
  .calendar-container {
      display: flex;
      justify-content: center;
      align-items: center;
      /* margin-top: 50px; */
    }
    #calendar {
      box-shadow: 0 2px 6px rgba(0, 0, 0, .05), 0 0 0 1px rgba(0, 0, 0, .07);
      border-radius: 3px;
      background: #fff;
      position: relative;
      width: 100%;
    }
    #calendar .ui-widget.ui-widget-content {
      border: 1px solid #e5e5e5;
      width: 100% !important;
    }
    #calendar .ui-datepicker-multi-2 .ui-datepicker-group {
      width: 50%;
      padding: 0 13px;
    }
    #calendar .ui-datepicker .ui-datepicker-header {
      position: relative;
      padding: .2em 0;
      color: #484848;
      font-size: 18px;
      text-align: center;
      /* padding-top: 22px; */
      /* padding-bottom: 37px; */
      caption-side: top;
      background: #fff;
      border: 0;
    }
    #calendar .ui-datepicker-prev, #calendar .ui-datepicker-next {
      position: absolute;
      /* top: 18px; */
      line-height: .78;
      border-radius: 3px;
      padding: 6px 9px;
      border: 1px solid #e4e7e7;
      background-color: #fff;
      color: #757575;
      cursor: pointer;
      -webkit-user-select: none;
      user-select: none;
      /* border: 0; */
      /* padding: 0; */
      margin: 0;
    }
    #calendar tr {border: none;}
    #calendar .ui-datepicker th {
      padding: .7em .3em;
      text-align: center;
      font-weight: normal;
      border: 0;
      color: #757575;
    }
    #calendar .ui-state-default, #calendar .ui-widget-content .ui-state-default {
      border: none;
      background: #fff;
      font-weight: normal;
      color: #454545;
      text-align: center;
    }
    
    .time-choose {
      display: flex;
      grid-gap: 8px;
      gap: 8px;
      align-items: center;
      width: 100%;
      margin-top: 20px;
    }
    .time-choose__item {
      position: relative;
      border: 1px solid #e0e0e0;
      width: 100%;
      cursor: pointer;
      padding: 8px 16px;
      border-radius: 8px;
      background-color: #fff;
    }
    .time-choose__item .title-time {
      font-size: 12px;
      font-weight: 700;
      color: #666;
      margin: 0;
    }
    .time-choose__item .active-time {
      position: relative;
      font-weight: 600;
      margin: 0;
    }
    .time-choose__item .active-time:after {
      top: 8px;
      right: 0;
    
      position: absolute;
      right: 0;
      /* width: 24px; */
      height: 24px;
      pointer-events: none;
    
      margin-left: .255em;
      vertical-align: .255em;
      content: "";
      border-top: .3em solid;
      border-right: .3em solid transparent;
      border-bottom: 0;
      border-left: .3em solid transparent;
    }
    .time-choose__item .dropdown-time {
      position: absolute;
      width: 100%;
      border-radius: 8px;
      border: 1px solid #e0e0e0;
      padding: 12px;
      left: 0;
      top: 100%;
      /* display: flex; */
      flex-direction: column;
      grid-gap: 16px;
      gap: 16px;
      max-height: 173px;
      overflow: auto;
      background-color: #fff;
      z-index: 1;
    }
    .time-choose__item:last-child .dropdown-time {
      left: unset;
      right: 0;
    }
    
    .time-choose .time-choose__item .dropdown-time {
      background: #fff;
      z-index: 10;
    }
    .custom-radio {
      position: relative;
      display: flex;
      gap: 10px;
    }
    /* .custom-radio:hover label {color: blue;} */
    .dropdown-time input[type=checkbox], .dropdown-time input[type=radio] {
      /* position: absolute;
      visibility: hidden; */
      width: auto;
      box-shadow: none;
    }
    .time-choose__item .dropdown-time .custom-radio label {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: flex;
      align-items: baseline;
      grid-gap: 2px;
      gap: 2px;
      margin: 0;
    }
    .dropdown-time {
      display: none;
    }
    .marginBottom-l {
      margin-bottom: 40px !important;
    }
    
    .text-danger {
      color: #f04438 !important;
    }
    
    .modal-dialog.modal-fix.has-footer .modal-content .modal-footer {
      border-top: 1px solid #e0e0e0;
      padding: 16px 24px;
      background: #fff;
      border-radius: 0 0 8px 8px;
      box-shadow: -1px -5px 29px rgba(0, 0, 0, .1);
    }
    .modal-search .modal-footer .info-time {
      display: flex;
      grid-gap: 8px;
      gap: 8px;
      width: 100%;
      justify-content: space-between;
      align-items: center;
    }
    .modal-search .modal-footer .info-time__item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .modal-search .modal-footer .info-time__item .time {
      font-weight: 600;
      margin: 0;
    }
    .modal-search .modal-footer .info-time__item .total {
      font-size: 14px;
      margin: 0;
    }
    
    .df-align-center {
      display: flex !important;
      align-items: center !important;
    }
    .tooltip {
      position: relative;
      display: inline-flex;
      align-items: center;
      vertical-align: middle;
      opacity: 1;
      padding-top: 1px;
    }
    .tooltip .wrap-svg {
      cursor: pointer;
      margin-left: 4px;
    }
    
    .tooltip .tooltip-text {
      position: absolute;
      /* visibility: hidden; */
      display: none;
      font-size: .75rem;
      font-weight: 400 !important;
      color: #000 !important;
      line-height: 20px;
      padding: 12px;
      width: 200px;
      border-radius: 8px;
      background-color: #fff;
      text-align: center;
      z-index: 1005;
      bottom: 150%;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      box-shadow: 0 8px 24px 12px rgba(0, 0, 0, .08);
    }
    .tooltip .tooltip-text:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      top: 100%;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      border: 8px solid transparent;
      border-top-color: #fff;
    }
    .tooltip:hover .tooltip-text{
      display: block;
    }
    .modal-dialog.modal-fix.has-footer .modal-content .modal-footer .wrap-btn {
      padding: 0;
      width: fit-content;
    }
    .btn.btn--s:hover, .search-option .btn.btn-primary:hover {
      background-color: #cccccc;
      /* box-shadow: 0 8px 24px 12px rgba(0, 0, 0, .08), 0 20px 24px -4px rgba(0, 0, 0, .08); */
      color: rgb(0, 0, 0)!important;
    }
    .btn.btn--s {
      background: var(--second-bg-color);
      /* box-shadow: 0 8px 24px 12px rgba(0, 0, 0, .08), 0 20px 24px -4px rgba(0, 0, 0, .08); */
      color: white!important;
      border: none;
    }
    #calendar .ui-widget-content .dp-highlight .ui-state-default {
      background: var(--second-bg-color);
      color: var(--white);
    }
    a.disabled {
      opacity: 0.5; /* Example: reduce opacity */
      pointer-events: none; /* Example: disable pointer events */
      color: #000;
    }
  /* modal choose address + time */