<div th:fragment="address-hot" class="container">
<div class="address-layout">
				<h2 class="title-big">Địa Điểm Nổi Bật</h2>
				<div class="swiper address-list">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="address-item" id="Hồ Chí Minh">
								<p>
									TP. Hồ Chí Minh <span> 3200+ xe</span>
								</p>
								<div class="address-img">
									<img
										src="https://n1-cstg.mioto.vn/1/cho_thue_xe_tu_lai_tphcm/hcm/p/m/cities_v2/HoChiMinh_v2.jpg"
										alt="" />
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="address-item" id="Hà Nội">
								<p>
									Hà Nội <span> 1400+ xe</span>
								</p>
								<div class="address-img">
									<img
										src="https://n1-cstg.mioto.vn/1/cho_thue_xe_tu_lai_tphcm/hcm/p/m/cities_v2/HaNoi_v2.jpg"
										alt="" />
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="address-item" id="Đà Nẵng">
								<p>
									Đà Nẵng <span> 320+ xe</span>
								</p>
								<div class="address-img">
									<img
										src="https://n1-cstg.mioto.vn/1/cho_thue_xe_tu_lai_tphcm/hcm/p/m/cities_v2/DaNang_v2.jpg"
										alt="" />
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="address-item" id="Bình Dương">
								<p>
									Bình Dương <span> 330+ xe</span>
								</p>
								<div class="address-img">
									<img
										src="https://n1-cstg.mioto.vn/1/cho_thue_xe_tu_lai_tphcm/hcm/p/m/cities_v2/BinhDuong_v2.jpg"
										alt="" />
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="address-item" id="Biên Hòa">
								<p>
									Biên Hoà <span> 200+ xe</span>
								</p>
								<div class="address-img">
									<img
										src="https://n1-cstg.mioto.vn/1/cho_thue_xe_tu_lai_tphcm/hcm/p/m/cities_v2/CanTho_v2.jpg"
										alt="" />
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="address-item" id="Đà Lạt">
								<p>
									Đà Lạt <span> 160+ xe</span>
								</p>
								<div class="address-img">
									<img
										src="https://n1-cstg.mioto.vn/1/cho_thue_xe_tu_lai_tphcm/hcm/p/m/cities_v2/BinhDuong_v2.jpg"
										alt="" />
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="address-item" id="Phú Quốc">
								<p>
									Phú Quốc <span> 150+ xe</span>
								</p>
								<div class="address-img">
									<img
										src="https://n1-cstg.mioto.vn/cho_thue_xe_tu_lai_tphcm/hcm/p/m/cities_v2/PhuQuoc_v2.jpg"
										alt="" />
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="address-item" id="Đà Lạt">
								<p>
									Đà Lạt <span> 160+ xe</span>
								</p>
								<div class="address-img">
									<img
										src="https://n1-cstg.mioto.vn/cho_thue_xe_tu_lai_tphcm/hcm/p/m/cities_v2/DaLat_v2.jpg"
										alt="" />
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-button-prev"></div>
					<div class="swiper-button-next"></div>
				</div>
			</div>
		</div>