<div th:fragment="sale" class="container">
			<div class="sale-layout">
				<h2 class="title-big">Chương Trình Khuyến Mãi</h2>
				<h5>Nhận nhiều ưu đãi hấp dẫn từ RENTALCAR</h5>
				<div class="swiper img-slider">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="img-poster">
								<img src="./assets/images/others/thoaimai.png" alt="" />
							</div>
						</div>
						<div class="swiper-slide">
							<div class="img-poster">
								<img src="./assets/images/others/TanHuong.png" alt="" />
							</div>
						</div>
						<div class="swiper-slide">
							<div class="img-poster">
								<img src="./assets/images/others/XeHienDai.png" alt="" />
							</div>
						</div>
						<div class="swiper-slide">
							<div class="img-poster">
								<img src="./assets/images/others/uudai.png" alt="" />
							</div>
						</div>
						<div class="swiper-slide">
							<div class="img-poster">
								<img src="./assets/images/others/xe7cho.png" alt="" />
							</div>
						</div>
						<div class="swiper-slide">
							<div class="img-poster">
								<img src="./assets/images/others/datxe.png" alt="" />
							</div>
						</div>
						
					</div>
					<div class="swiper-button-prev"></div>
					<div class="swiper-button-next"></div>
				</div>
			</div>
</div>